$consent: #437eb1; 
$end_of_life_care: #625c9f; 
$child_protection: #3368a6; 
$zero_to_eighteen: #851764; 
$leadership_and_management: #6e2072; 
$confidentiality: #7b698f; 
$gmc_purple: #3e2782; 
$gmc_dark_blue: #00377b; 
$gmc_light_blue: #30a5be; 
$gmc_light_grey: #edece4; 


h1, h2, h3, h4, h5, h6 {
    font-family: 'Tahoma';
}
p, div {
    font-family: 'Tahoma';
}



.box {
	background-color: $gmc_light_grey; 
	min-height: 200px !important; 
}

.margin-bottom-20 {
	margin-bottom: 20px; 
}

.consent {
	color: $consent; 
}

.end_of_life_care {
	color: $end_of_life_care;
}

.child_protection {
	color: $child_protection;
}

.zero_to_eighteen {
	color: $zero_to_eighteen;
}

.leadership_and_management {
	color: $leadership_and_management;
}

.confidentiality {
	color: $confidentiality;
}

.gmc_purple {
	color: $gmc_purple;
}

.gmc_dark_blue {
	color: $gmc_dark_blue;
}

.gmc_light_blue {
	color: $gmc_light_blue;
}

.gmc_light_grey {
	color: $gmc_light_grey;
}

.gmc-logo-large {
	height: 70px; 
	width: 84px;
	background-image: url('../images/logos/gmc_logo.gif');
	background-repeat: no-repeat;
	// margin-bottom: 23px;
	// margin-left: 23px;     
}

.strapline {
	font-size: 23px;
	color: $gmc_light_blue;
	padding-top: 10px;
	margin-right: 23px; 
}

.purple_bottom {
	border-bottom: 8px solid $gmc_purple !important;
}

.rotate90 {
    transform: rotate(90deg);
}

.section-title {
	font-size: 23px;
}


// megamenu styling
 
#mega.container {
	padding-left: 0px !important; 
	padding-right: 0px !important; 
	padding-bottom: 0px !important; 
	padding-top: 0px !important; 
	height: 30px; 
	
} 


.mega-dropdown {
	list-style: none; 
}


#mega .navbar {	
	min-height: 0px; 
	margin-bottom: 0px !important; 
}

 
#mega.navbar-nav>li>.dropdown-menu {
    margin-top:20px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    list-style: none; 
}
#mega.navbar-default .navbar-nav>li>a {
    width:200px;
    font-weight:bold;
}
.mega-dropdown {
    position: static !important;
    width:100%;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu:before {
    content:"";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}
.mega-dropdown-menu:after {
    content:"";
    border-bottom: 17px solid #ccc;
    border-right: 19px solid transparent;
    border-left: 19px solid transparent;
    position: absolute;
    top: -17px;
    left: 283px;
    z-index: 8;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}
.mega-dropdown-menu > li > ul > li {
    list-style: none;
}
.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}
.mega-dropdown-menu > li ul > li > a:hover, .mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}
.mega-dropdown-menu .dropdown-header {
    color: #428bca;
    font-size: 18px;
    font-weight:bold;
}
.mega-dropdown-menu form {
    margin:3px 20px;
}
.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}