.navbar-bottom {
	
	font-size: 11px; 
	margin-left: -20px;
	margin-right: -20px;  
	border-top: 1px solid $gmc_light_grey !important; 
}

.footer-links {
	color: $gmc_dark_blue; 
	font-weight: bold; 
}



.footer-links li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}