// .navbar-collapse.collapse {
//     display: block!important;
// }

// .navbar-nav>li, .navbar-nav {
//     float: left !important;
// }

// .navbar-nav.navbar-right:last-child {
//     margin-right: -15px !important;
// }

// .navbar-right {
//     float: right!important;
// }



// @media screen and (max-width: 950px) {
//     h3 {
//         color: $gmc_purple !important; 
//     }

//     .navbar-nav>li, .navbar-nav {
//         margin-top: -7px; 
//     }
// }


$navHeight:30px; 

.custom-bootstrap-menu-nav {
    height: $navHeight;
}


#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(0, 55, 123, 1);
}

 #custom-bootstrap-menu.navbar { min-height:$navHeight;   }
 #custom-bootstrap-menu.navbar .navbar-brand{ padding: 0 12px;font-size: 16px;line-height: $navHeight;height: $navHeight; }
 #custom-bootstrap-menu.navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: $navHeight; }
 #custom-bootstrap-menu.navbar .navbar-toggle {  margin-top: 3px; margin-bottom: 0px; padding: 8px 9px; }
 #custom-bootstrap-menu.navbar .navbar-form { margin-top: 2px; margin-bottom: 0px }
 #custom-bootstrap-menu.navbar .navbar-collapse {border-color: #A40303;}



#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 1);
    /*border-width: 1px;
    border-radius: 4px;*/
    border: none; 
    padding: 0px; 
}



#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(0, 55, 123, 1);
    background-color: rgba(255, 255, 255, 1);
    -o-transition:color 120ms ease-out, background 120ms ease-in;
    -ms-transition:color 120ms ease-out, background 120ms ease-in;
    -moz-transition:color 120ms ease-out, background 120ms ease-in;
    -webkit-transition:color 120ms ease-out, background 120ms ease-in;
    /* ...and now override with proper CSS property */
    transition:color 120ms ease-out, background 120ms ease-in;
    border-radius: 0 0 4px 4px; 
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(48, 165, 190, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 55, 123, 1);
    // background-color: rgba(255, 255, 255, 1);
    // border-bottom: 2px solid $gmc_dark_blue; 
    background-color: $gmc_purple; 
    color: #fff; 
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}



// Breadcrumbs
.breadcrumbs {    
    font-weight: bold; 
    text-transform: capitalize; 

    a {
        color: $gmc_dark_blue;         
    }
}

.breadcrumbs a:hover {
    color: $gmc_light_blue !important; 
}

.breadcrumbs h2 {
    font-size: 18px; 
    margin-top: 0px; 
    margin-bottom: 10px; 
    margin-left: 40px; 
}

.breadcrumbs .pull-right {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    margin-bottom: -49px; 
}

.breadcrumbs {
    margin-top: -40px; 
}


.viz-controls {
    z-index: 999; 
}

.viz-full-screen {
    height: 100%;
    width: 100%;    
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;     
    z-index: 998; 
}

.full-screen-button-position {
    position: fixed !important;
    top: 0px;
    right: 0px;
    color: red !important;
    opacity: 0.5; 
    // transition: all 0.6s ease;
}

.full-screen-button-position:hover {
    width: 30px; 
    height: 30px;   
    opacity: 1; 
    transition: all 0.6s ease;           
}

.blink {    
    color: $gmc_purple !important; 
    border: 1px solid $gmc_purple; 
}

.viz-info-button {
    font-size: 12px;
    color: $gmc_dark_blue; 
    padding-left: 5px;
    top: -4px !important;
}










