// .navbar-collapse.collapse {
//     display: block!important;
// }

// .navbar-nav>li, .navbar-nav {
//     float: left !important;
// }

// .navbar-nav.navbar-right:last-child {
//     margin-right: -15px !important;
// }

// .navbar-right {
//     float: right!important;
// }



// @media screen and (max-width: 950px) {
//     h3 {
//         color: $gmc_purple !important; 
//     }

//     .navbar-nav>li, .navbar-nav {
//         margin-top: -7px; 
//     }
// }


$default_nav_colour: #797979; 

$navHeight:30px; 

.custom-bootstrap-menu-nav {
    height: $navHeight;
}


#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(0, 55, 123, 1);
}

 #custom-bootstrap-menu.navbar { min-height:$navHeight;   }
 #custom-bootstrap-menu.navbar .navbar-brand{ padding: 0 12px;font-size: 16px;line-height: $navHeight;height: $navHeight; }
 #custom-bootstrap-menu.navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: $navHeight; }
 #custom-bootstrap-menu.navbar .navbar-toggle {  margin-top: 3px; margin-bottom: 0px; padding: 8px 9px; }
 #custom-bootstrap-menu.navbar .navbar-form { margin-top: 2px; margin-bottom: 0px }
 #custom-bootstrap-menu.navbar .navbar-collapse {border-color: #A40303;}



#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(255, 255, 255, 1);
    /*border-width: 1px;
    border-radius: 4px;*/
    border: none; 
    padding: 0px; 
}

// #custom-bootstrap-menu.navbar-default .navbar-nav>li {
//     display: inline-block; 
//     height: 35px; 
//     position: relative; 
// }



#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a::after {     
     content: ' ';     
     position: absolute;      
     z-index: 99; 
     border-left: 10px solid transparent; 
     border-right: 10px solid transparent; 
     border-bottom: 10px solid $default_nav_colour; 
     left: calc(50% - 10px);
     bottom: -10px; 
     transition: all 120ms ease-out; 
}


.the_register::after {     
    border-bottom: 10px solid $the_register !important; 
}

.fitness_to_practise::after {     
    border-bottom: 10px solid $ftp !important; 
}

.employers::after {     
    border-bottom: 10px solid $employers !important; 
}

.medical_schools::after {     
    border-bottom: 10px solid $medical_schools !important; 
}

.deaneries_and_letbs::after {     
    border-bottom: 10px solid $deaneries !important; 
}

.royal_colleges::after {     
    border-bottom: 10px solid $royal_colleges !important; 
}

.revalidation::after {     
    border-bottom: 10px solid $revalidation !important; 
}






#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(0, 55, 123, 1);
    background-color: rgba(255, 255, 255, 1);
    -o-transition:color 120ms ease-out, background 120ms ease-in;
    -ms-transition:color 120ms ease-out, background 120ms ease-in;
    -moz-transition:color 120ms ease-out, background 120ms ease-in;
    -webkit-transition:color 120ms ease-out, background 120ms ease-in;
    /* ...and now override with proper CSS property */
    transition:color 120ms ease-out, background 120ms ease-in;
    
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(48, 165, 190, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(0, 55, 123, 1);  
    // width: 0;
    // height: 0;
    // border-left: 50px solid transparent;
    // border-right: 50px solid transparent;
    // border-bottom: 100px solid red; 
    // padding: 0; 
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}


// position: absolute;
// top: 28px;
// background: #efefef;
// float: left;
// width: 100vw;
// min-width: 730px;
// height: 24px;
// font-size: 12px;
// line-height: 24px;
// display: none;
// z-index: 99;
// Breadcrumbs
.breadcrumbs {    
    position: absolute; 
    left: 0px; 
    width: 100vw; 
    margin: 0px; 
    font-weight: bold; 
    background: #efefef; 
    
    z-index: 1; 
    margin-top: 28px; 
    height: 25px; 
    padding: 2px; 
    

    a {
        color: $gmc_dark_blue;         
    }
}

.move-up {
    margin-top: 0; 
    top: 0; 
}

.breadcrumbs a:hover {
    color: $gmc_light_blue !important; 
}

.breadcrumbs h2 {
    font-size: 18px; 
    margin-top: 0px; 
    margin-bottom: 10px; 
    margin-left: 40px; 
}

.breadcrumbs .pull-right {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    margin-bottom: -49px; 
}

.glyph-breadcrumb {
    color: #7f7f7f; 
    font-size: 12px; 
    font-weight: normal; 
}

.glyph-breadcrumb a {
    color: #7f7f7f !important; 
    transition: color 120ms ease-out; 
}

.glyph-breadcrumb a:hover {
    text-decoration: none !important; 
    color: $gmc_light_blue !important; 
}

.home-icon {
    width: 12px; 
}

.breadcrumb-location {
    font-size: 15px;
    font-weight: normal;
    color: #7f7f7f;
    padding-left: 5px; 
}

.breadcrumb-h2 {
    font-size: 15px;        
    padding-left: 5px;
    font-weight: normal; 
}

.breadcrumb-h2 a {
    color: $font_colour; 
    transition: color 120ms ease-out; 
}


.breadcrumb-h2 a:hover {
    color: $gmc_light_blue; 
    text-decoration: none; 
}

.viz-controls {
    z-index: 999; 
    top: -28px; 
}

.viz-full-screen {
    height: 100%;
    width: 100%;    
    position: absolute;
    top: -40px;
    left: 0;
    background: #fff;     
    z-index: 998; 
}

.full-screen-button-position {
    position: fixed !important;
    top: 0px;
    right: 0px;
    color: red !important;
    opacity: 0.5; 
    z-index: 999; 
    // transition: all 0.6s ease;
}

.full-screen-button-position:hover {
    width: 30px; 
    height: 30px;   
    opacity: 1; 
    transition: all 0.6s ease;           
}

.blink {    
    color: $gmc_purple !important; 
    border: 1px solid $gmc_purple; 
}

.viz-info-button {
    font-size: 12px;
    color: #7f7f7f; 
    padding-left: 5px;  
    transition: 120ms ease-out;   
}

.viz-info-button:hover {
    color: $gmc_light_blue; 
    cursor: help; 
}

.no-padding-sides {
    padding-left: 5px !important; 
    padding-right: 0px !important; 
}

#reports-tier {
    position: relative;
    float: left;
    width: 101vw;
    // background: $default_nav_colour !important; 
    // background: $default_nav_colour; 
    top: 5px;
    height: 23px;
    margin-left: auto; 
    margin-right: auto;         
    transition: background 300ms ease-out; 
    z-index: 99; 
    text-align: center; 
}


#reports-tier>ul>li {
    position: relative;
    display: inline;         
}

#reports-tier>ul>li>a {
    color: #ffffff; 
    font-size: 12px;  
    padding: 1px 15px 5px 15px;      
    transition:color 120ms ease-out; 
    border-radius: 2px 2px 0px 0px;
} 


// #reports-tier>ul>li>a::before {
//     content: ''; 
//     display: block; 
//     position: absolute; 
//     top: 0; 
//     left: 0; 
//     width: 70%; 
//     height: 100%; 
//     border-style: solid; 
//     border-color: #eee; 
//     border-width: 2px 0 2px 2px; 
//     border-radius: 8px 0 0 0; 
//     transform: skewX(-20deg); 
//     background-color: inherit; 
//     z-index: -1; 
// }

// #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
// #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
// #custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {

#reports-tier>ul>li>a:hover, 
#reports-tier>ul>li.active>a {
    color: rgba(48, 165, 190, 1);
    background-color: rgba(248, 248, 248, 0);
    text-decoration: none;
    background: #efefef; 
    padding: 1px 15px 6px 15px; 
    // border-radius: 2px 2px 0px 0px; 
}



.persisting-hover a {        
    // text-decoration: none;
    // background: #efefef;
    // padding: 0px 0px 7px 0px;
    // bottom: 0px;     
    // border-radius: 2px 2px;
    // bottom: -2px; 
    color: #30a5be;
    background-color: rgba(248, 248, 248, 0);
    text-decoration: none;
    background: #efefef;
    padding: 1px 15px 6px 15px !important; 
    border-radius: 2px 2px 0px 0px; 
    
}


.persisting-hover .reports-tier-text {
    // font-size: 80px; 
}

.persisting-hover a {
    color: $font_colour !important; 
}

.reports-tier-hide {
    height: 5px !important; 
    transition:height 120ms ease-out;
}

.reports-tier-hide a{
    color: transparent !important; 
    transition:color 120ms ease-out;
} 


#reports-tier-one {
    position: absolute;
    top: 28px; 
    background: #efefef;    
    float: left;
    width: 100vw;
    min-width: 730px;
    height: 24px;
    font-size: 12px; 
    line-height: 24px; 
    display: none; 
    z-index: 99; 
}

.show-tier-one {
    display: block !important; 
}

#reports-tier-one>ul {
    // text-align: center; 
}

#reports-tier-one>ul>li {
    // position: relative; 
    display:inline; 
    // text-align: center;     
    padding: 5px; 

}

#reports-tier-one>ul>li a {
    color: $font_colour; 
    transition:background 120ms ease-out, color 120ms ease-out; 
}


// #reports-tier-one>ul>li:hover {
//     padding: 5px; 
//     margin: 0px -5px 0px -5px;
//     background: #fff; 
//     color: #333; 
// }


// #reports-tier-one>ul>li a:hover {

//     background: #fff; 
//     color: #333; 
//     padding: 5px; 
//     margin: 0px -5px 0px -5px;
//     text-decoration: none; 
// }

#reports-tier-one ul li:not(:first-child) {
    border-left: 1px solid #333;  

}

.full-width {
    position: absolute;
    left: 0;
}

.margin-right-20 {
    margin-right: 20px; 
}



