
.report-groups {
	border: 1px solid green;
}

.report-groups ul {
	list-style-type: none; 
	padding: 0;
}

.report-groups ul li {
	
	margin-top: 20px; 
	transition: all 120ms ease-out;
}

.report-group-link-box {
	color: #fff;
	transition: all 120ms ease-out;
	padding: 20px; 
}


.report-groups ul li:hover {
	
	opacity: 0.8; 
}

.report-groups ul li a {
	color: #fff;
	transition: all 120ms ease-out;
}

.report-groups ul li a:hover {
	color: $gmc_light_blue; 
	text-decoration: none; 
}

.report-groups ul li:nth-child(1) {
	background: #2a3f61;
}

.report-groups ul li:nth-child(2) {
	background: #2ca7bf;
}

.report-groups ul li:nth-child(3) {
	background: #5a2a80;
}

.report-groups ul li:nth-child(4) {
	background: #b05898;
}

.report-groups ul li:nth-child(5) {
	background: #7c418c;
}

.report-groups ul li:nth-child(6) {
	background: #7a71ad;
}

.report-groups ul li:nth-child(7) {
	background: #å4275b3;
}

.report-group-info-text {
	border: 1px solid green; 
	text-align: center;
	vertical-align: middle;
	min-height: 32vw; 
	line-height: 32vw; 
	font-size: 21px; 
}


