
.report-groups {
	/*border: 1px solid green;*/
}

.report-groups ul {
	list-style-type: none; 
	padding: 0;
}

.report-groups ul li {
	
	margin-top: 20px; 
	border-radius: 8px; 
	transition: all 120ms ease-out;
}

.report-group-link-box {
	color: #fff;
	transition: all 120ms ease-out;
	padding: 20px; 
	font-size: 18px; 
}


.report-groups ul li:hover {
	
	opacity: 0.8; 
}



.report-groups ul li a {
	color: #fff;
	transition: all 120ms ease-out;
	text-decoration: none; 
}

.report-groups ul li a:hover {
	color: $gmc_light_blue; 
	text-decoration: none; 
}




.report-groups ul li:nth-child(1) {
	background: $the_register; 
}

.report-groups ul li:nth-child(2) {
	background: $revalidation; 
}

.report-groups ul li:nth-child(3) {
	background: $ftp; 
}

.report-groups ul li:nth-child(4) {
	background: $employers; 
}

.report-groups ul li:nth-child(5) {
	background: $medical_schools;  
}

.report-groups ul li:nth-child(6) {
	background: $royal_colleges;  
}

.report-groups ul li:nth-child(7) {
	background: $deaneries; 
}

.report-groups ul li:nth-child(8) {
	background: $revalidation; 
}

.report-group-info-text {
	font-size: 15px;
	margin-top: 20px;
	padding: 5px;
	border-radius: 4px; 
	margin-left: -25px; 
	padding: 20px; 

}

.report-group-h3 {
	margin-top: -2px !important; 
}

.no-left-margin {
	margin-left: 0; 
}

.reports-background {
	margin-top: 52px; 
	padding: 20px; 
	max-height: 866px; 
	max-width: 1293px; 
	min-height: 866px; 
	min-width: 700px; 
	display: block;
	position: relative;
	background-image: url('/home/images/reports-1.jpg'); 
	background-size: 1293px 866px;
	background-repeat: no-repeat; 
	transition: all 300ms ease-out;
}


.report-group-link-box {
	color: #fff !important; 
	transition: all 120ms ease-out; 
}


.section-description {
	
	font-size: 14px; 
	font-weight: bold; 
	
	width: 89% !important;
	
}

#section-info {
	padding: 20px; 
	
	margin-top: 20px; 
	
	font-weight: bold; 
}

.section-h1 {
	
}

.section-images {
	width: 40px;
	position: relative;
	float: right;
	bottom: 15px;
	filter: brightness(100); 
}


.equal, .equal > div[class*='col-'] {  
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}


.section-info-link a{
	font-weight: bold; 
	transition: all 120ms ease-out; 
}


.bubble {
	font-size: 0px;
	line-height: 0%;
	width: 100%;
	border-top: 30px solid transparent;
	border-right: 30px solid #77c;
	border-bottom: 30px solid transparent;
	position: absolute; 	
	display: none; 
	top: 24px; 
	margin-left: -12px; 
}

.arrow-move-left {
	margin-left: -30px; 
}

.section-info-rollover a {
	font-weight: bold; 
	text-decoration: none; 
	transition: all 120ms ease-out; 
}

.section-info-rollover a:hover {
	text-decoration: none; 
	color: $gmc_light_blue; 
}

.report-group-padding {
	padding-bottom: 4px; 
}

.report-section-text {
	color: #fff; 
	padding-top: 10px; 
	padding-bottom: 10px; 
}

.reports-box-position {
	margin-top: -50px; 
}

.default-text {
	color: $gmc_dark_blue; 
	font-weight: bold; 
	font-size: 18px; 
}

.report-default-text {
	font-size: 22px; 
	color: #333 !important; 
	font-weight: normal !important; 
}