
<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles/main.css">
   </head>
<body ng-app="agoraApp">

	<div ng-view="" class="gmc-container ng-scope"><div class="row ng-scope">
	<div class="col-xs-12">
		
		<div class="well" style="margin-top: 20px;">
			<p>The agora application has been optimised for Google Chrome.</p> 
			<p>
				Please open the application in Google Chrome <img src="images/chrome.ico" style="height: 20px; ">
			</p>
		</div>
	</div>
</div>
</div>

</body>
</html>