<div ng-controller="MainCtrl">
	<div class="row">

		<div class="col-xs-12 bg-image-home">

				<div class="homepage-introduction-text">
					<h3>Welcome</h3>
					<p>Explore our data to learn more about the UK's doctors and where they are practising.</p>

					

					<div class="get-started">
						<button ng-click="gotoReports();">Get started ></button>
					</div>
				</div>
		</div> 

		

		
	</div>
	</div>
	<div class="row">
		<div class="col-xs-6 box homepage-boxes">
			We hold data about doctors from the moment they register with us, to the day they retire. You can use this resource to discover new insights and reveal emerging trends about doctors, where they have studied and trained in the UK  and the routes they take throughout their careers.
		</div>
		<div class="col-xs-6 box homepage-boxes">
			As a proactive regulator, we're committed to sharing our data with stakeholders across the medical sector, to identify and reduce risk, and drive up standards. This site will play an important role in helping us share what we know with regulators and other organisations working to improve patient care.
		</div>
	</div>
</div>
