<div ng-controller="MainCtrl">
	<div class="row">
		<div class="col-md-12 box margin-bottom-20 bg-img-home">
			<div class="image-text">
				<div class="homepage-introduction-text">
					<h3>Welcome</h3>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur accusamus, error perferendis quisquam consequatur sapiente quam eaque vero dolore, blanditiis delectus tempora a nostrum expedita possimus provident quasi, deserunt! Eaque.</p>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="row">
		<div class="col-md-6 box">
			Featured
		</div>
		<div class="col-md-6 box">
			Latest report
		</div>
	</div>
</div>
