<div ng-controller="ReportsCtrl" class="reports-background" ng-class="{{bgClass}}">
	<p>&nbsp;</p>

	<div class="row reports-box-position">
		<div class="col-xs-3 report-groups">


			<ul>
				<li ng-repeat="(key, value) in pages">
					<a ng-href="#/reports/{{value.groupName}}">
					<div ng-click="getDescription(value, key);"class="report-group-link-box" id="box-{{key}}">
					{{value.groupName}}
					</div>
					</a>
					<span style="display:none;" ng-bind-html="value.description"></span>
				</li>
			</ul>


			
		</div>

		<div class="col-xs-1 arrow-move-left">
			<div class="bubble">&nbsp;</div>
		</div>

		<div class="col-xs-8">
			
			<div class="report-group-info-text report-group-padding">
				<h3 ng-bind-html="descTitle" class="report-group-h3"></h3>

				<!-- <p  class="report-group-info-text no-left-margin" ng-bind-html="defaultText"></p> -->
				<p  class="no-left-margin report-section-text report-default-text" ng-bind-html="defaultText"></p>
				<div class="row equal">
				
				<div class="col-xs-4" ng-repeat="(k, v) in descPages">
			
					<div class="panel panel-default" style="max-width: 350px;">
						<div id="{{v[0].pageId}}" class="panel-heading section-info-rollover">
						<a href="#/reports/{{descTitle}}/{{k}}/report">{{k}} <span class="glyphicon glyphicon-chevron-right"></span></a>
						</div>
						<div class="panel-body">
							
							<div class="row">
								<div class="col-xs-12">
									<a href="#/reports/{{descTitle}}/{{k}}/report" class="thumbnail">
							<img ng-src="images/vizthumbs/{{v[0].thumb}}" alt="{{v[0].description}}" style="width:100%;"></a>		
								</div>								
							</div>

							<div class="row">
								<div class="col-xs-12">
									{{v[0].description}}			
								</div>
							</div>	

						</div>	

							
						
						
						
					</div>

				</div>

				
				
				</div>
			</div>
			
		</div>
	</div>
</div>