<div ng-controller="SectionCtrl">
	<div class="row">
		<h1>Section: {{sectionName}}</h1>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<!-- {{data[0].url}} -->
				<div ng-repeat="(key, data) in pages">
					<div class="col-xs-3">
						
						<div class="panel panel-default reports-box">
							<!-- <div class=" hvr-border-fade"> -->
								<div class="panel-heading reports-box-title">
									
									<div class="row">
										<div class="col-xs-3">
									<a ng-href="#/reports/{{sectionName}}/{{key}}/report1" >{{key}}
									</a>
										</div>
										<div class="col-xs-3">
									<img ng-src="images/{{key}}.png" style="height:50px;"></img>
										</div>
									</div>
								</div>
								<div class="panel-body">
									<div class="reports-box-description">
										{{sectionDescriptions[key]}}
									</div>
								</div>
							<!-- </div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</div>