


    


  









<div class="row breadcrumbs">
	<div class="col-xs-9">
		<button class="nav-toggler toggle-slide-left btn btn-sm btn-default">
			<span class="glyphicon glyphicon-align-justify"></span>
		</button>
		<a ng-href="#/reports/{{breadCrumbs.id}}">{{breadCrumbs.id}}</a> 
		/
		<a ng-href="#/reports/{{breadCrumbs.id}}/{{breadCrumbs.report}}/report">{{breadCrumbs.report}}</a>
	<!-- <h1 ng-model="h1">{{h1}}</h1> -->
	<h2 ng-model="h2">{{h2}}</h2>
</div>
<div class="col-xs-3" style="height:50px;">
	<div class="pull-right">		
		<div class="btn-group btn-group-sm" role="group" aria-label="viz actions">
			<button id="undo" ng-click="onBack();" data-toggle="tooltip" data-placement="bottom" title="Undo last action" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Undo</button>
		</div>
		<div class="btn-group btn-group-sm" role="group" aria-label="viz actions">
			<div class="btn-group btn-group-sm" role="group">
				<button data-toggle="tooltip" data-placement="bottom" title="Download this report" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
				<span class="glyphicon glyphicon-download-alt"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li><a href="#">PDF</a></li>
					<li><a href="#">CSV</a></li>
					<li><a href="#">JPG</a></li>
				</ul>
			</div>
			<button data-toggle="tooltip" data-placement="bottom" title="Clear filters" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-refresh"></span></button>
			<button data-toggle="tooltip" data-placement="bottom" title="View in fullscreen" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-fullscreen"></span></button>
			

		</div>
	</div>
</div>
</div>
<div class="row">
<div class="md-col-12">
	<div id="mainViz" style="min-height: 500px;"></div>
</div>
</div>
<!-- enable tooltips -->
<script>
$(document).ready(function(){
$(function () {
	$('[data-toggle="tooltip"]').tooltip({container: 'body'})
})
});
</script>